:root {
  --background: #ddaaee;
  --transparent: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

div,
img {
  user-select: none;
  -webkit-user-drag: none;
}

html {
  height: 100%;
  background-color: var(--background);
}

.version__watermark {
  position: fixed;
  top: 0;
  right: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  color: var(--transparent);
}
